tele_token=""

keyboard_actions = [{"text": "🆕Предложить идею🆕", "callback_data": "new"},
                    {"text": "👁️Посмотреть идеи👁️", "callback_data": "watch"},
                    {"text": "🤜Профиль🤛", "callback_data": "your"}]

admin_txt="""❗️❗️Команды для админов❗️❗️
/ban - заблокировать пользователя (после команды указать ник) {пример: /ban tester1}
/deban - разблокировать пользователя (после команды указать ник) {пример: /deban tester1}
/del - удалить идею из списка (после команды указываете номер идеи) {пример: /del 1}
/complete - отметить идею как выполненую (после команды указываете номер идеи) {пример: /complite 1}
"""

help_txt="""❗️❗️Команды❗️❗️"""

postegress_host="192.168.0.1"

postegress_name="pop"
postegress_pass="masha"
